In [73]:
!pip install pandas

Requirement already satisfied: pandas in c:\dev\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\dev\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\dev\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\dev\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\dev\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [74]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\dev\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\dev\python312\lib\site-packages (from openpyxl) (1.1.0)

In [75]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\dev\python312\lib\site-packages (2.0.1)

In [76]:
import pandas as pd

In [77]:
##
#  딕셔너리로 DataFrame 객체 생성
data = {'이름': ['성명건', '홍길동', '애슐리'], '나이': [47, 20, 40], '결혼': [True, False, True]}
df = pd.DataFrame(data=data)
df

    이름  나이     결혼
0  성명건  47   True
1  홍길동  20  False
2  애슐리  40   True

In [78]:
## 2차원 리스트 생성
data = [['성명건', 47, '부산', 'smg@naver.com', True], ['홍길동', 20, '서울', 'hgd@gmail.com', False],
        ['애슐리', 40, '경기', 'ashley@nate.com', True], ['홍길순', 18, '서울', 'hgs@daum.net', False]]

data

[['성명건', 47, '부산', 'smg@naver.com', True],
 ['홍길동', 20, '서울', 'hgd@gmail.com', False],
 ['애슐리', 40, '경기', 'ashley@nate.com', True],
 ['홍길순', 18, '서울', 'hgs@daum.net', False]]

In [79]:
## 2차원 리스트로 DataFrame 객체 생성
df = pd.DataFrame(data=data, columns=['이름', '나이', '주소', '이메일', '결혼'])
df

    이름  나이  주소              이메일     결혼
0  성명건  47  부산    smg@naver.com   True
1  홍길동  20  서울    hgd@gmail.com  False
2  애슐리  40  경기  ashley@nate.com   True
3  홍길순  18  서울     hgs@daum.net  False

In [80]:
## 데이터프레임에서 데이터 조회(열) - 리스트는 for문을 써야지 출력가능
df['이름']

0    성명건
1    홍길동
2    애슐리
3    홍길순
Name: 이름, dtype: object

In [81]:
df['나이']

0    47
1    20
2    40
3    18
Name: 나이, dtype: int64

In [82]:
## 데이터프레임 조회(두개 열)
df[['이름', '나이']]

    이름  나이
0  성명건  47
1  홍길동  20
2  애슐리  40
3  홍길순  18

In [83]:
## 데이터프레임 행으로 조회
df.loc[0]

이름               성명건
나이                47
주소                부산
이메일    smg@naver.com
결혼              True
Name: 0, dtype: object

In [84]:
## 데이터프레임 조회(행)
df.loc[[1, 3]]

    이름  나이  주소            이메일     결혼
1  홍길동  20  서울  hgd@gmail.com  False
3  홍길순  18  서울   hgs@daum.net  False

In [85]:
## 데이터프레임 조회(행 연속)
df.loc[0:3]

    이름  나이  주소              이메일     결혼
0  성명건  47  부산    smg@naver.com   True
1  홍길동  20  서울    hgd@gmail.com  False
2  애슐리  40  경기  ashley@nate.com   True
3  홍길순  18  서울     hgs@daum.net  False

In [86]:
# 현재 데이터프레임 확인
df

    이름  나이  주소              이메일     결혼
0  성명건  47  부산    smg@naver.com   True
1  홍길동  20  서울    hgd@gmail.com  False
2  애슐리  40  경기  ashley@nate.com   True
3  홍길순  18  서울     hgs@daum.net  False

In [87]:
## 새 컬럼 추가
df['전번'] = ['010', '011', '017', '019']

In [88]:
# 추가된 데이터프레임 확인
df

    이름  나이  주소              이메일     결혼   전번
0  성명건  47  부산    smg@naver.com   True  010
1  홍길동  20  서울    hgd@gmail.com  False  011
2  애슐리  40  경기  ashley@nate.com   True  017
3  홍길순  18  서울     hgs@daum.net  False  019

In [89]:
## 열 삭제, axis=0(행), 1(열)
df.drop('결혼', axis=1)

    이름  나이  주소              이메일   전번
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashley@nate.com  017
3  홍길순  18  서울     hgs@daum.net  019

In [90]:
## drop()은 삭제하고 출력만해줌. 완전히 삭제하려면 inplace 옵션을 사용
# inplace를 화면에 출력안됨
df.drop('결혼', axis=1, inplace=True) # 열로 삭제하려면 axis=1만 사용

In [91]:
# 삭제를 확인
df

    이름  나이  주소              이메일   전번
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashley@nate.com  017
3  홍길순  18  서울     hgs@daum.net  019

In [92]:
## 행추가
df.loc[4] = ['손흥민', 32, '런던', 'shm@gmail.com', '020']

In [93]:
df

    이름  나이  주소              이메일   전번
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashley@nate.com  017
3  홍길순  18  서울     hgs@daum.net  019
4  손흥민  32  런던    shm@gmail.com  020

In [94]:
## 행삭제, 완전히 삭제할려면 inplace쓰거나 아니면 변수에 재할당
df2 = df.drop(3)

In [95]:
df2

    이름  나이  주소              이메일   전번
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashley@nate.com  017
4  손흥민  32  런던    shm@gmail.com  020

In [96]:
## 행삭제 inplace, 행삭제 시는 axis=0만 사용 또는 생략
df.drop(2, axis=0, inplace=True)

In [97]:
df

    이름  나이  주소            이메일   전번
0  성명건  47  부산  smg@naver.com  010
1  홍길동  20  서울  hgd@gmail.com  011
3  홍길순  18  서울   hgs@daum.net  019
4  손흥민  32  런던  shm@gmail.com  020

In [98]:
## 열 이름을 변경
df.rename(columns={'전번':'휴대폰'}, inplace=True)

In [99]:
df

    이름  나이  주소            이메일  휴대폰
0  성명건  47  부산  smg@naver.com  010
1  홍길동  20  서울  hgd@gmail.com  011
3  홍길순  18  서울   hgs@daum.net  019
4  손흥민  32  런던  shm@gmail.com  020

- 데이터프레임은 파이썬의 2차원 리스트와 동일하지만, 좀더 사용하기 쉽도록 만든 클래스
### 시리즈 객체
- 파이썬에서 1차원 리스트(배열)
- 시리즈들 그루핑한게 데이터프레임
- 가장 최소단위

In [100]:
data = [47, 20, 40, 18, 32]
srs = pd.Series(data=data)
srs

0    47
1    20
2    40
3    18
4    32
dtype: int64

In [101]:
## 데이터프레임의 한 열을 가지고온 자료구조와 시리즈는 동일
type(df['나이'])

pandas.core.series.Series

In [102]:
type(srs)

pandas.core.series.Series

In [103]:
srs = pd.Series(data=data, index=['성명건', '홍길동', '애슐리', '홍길순', '손흥민'])
srs

성명건    47
홍길동    20
애슐리    40
홍길순    18
손흥민    32
dtype: int64

In [104]:
## 조회
srs['손흥민']

32

In [105]:
## 값 변경
srs['성명건'] = 48

In [106]:
srs

성명건    48
홍길동    20
애슐리    40
홍길순    18
손흥민    32
dtype: int64

In [107]:
## 데이터프레임에서 한 행을 가져와도 시리즈.
df.loc[1]

이름               홍길동
나이                20
주소                서울
이메일    hgd@gmail.com
휴대폰              011
Name: 1, dtype: object

### 데이터프레임 사용하기
- CSV, 엑셀파일 로드

- V S Code 플러그인, GrapeCity의 Excel Viewer를 설치

- 엑셀파일 로드할 때는 openpyxl 라이브러리를 추가 설치

>!pip install openpyxl

In [109]:
## CSV 로드
df_csv = pd.read_csv('./data/sample_1.csv', encoding='utf-8', header=1, skipfooter=2, engine='python', usecols=[0, 1, 2])
df_csv

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa6 in position 17: invalid start byte

In [ ]:
## 엑셀 로드
df_xls = pd.read_excel('./data/sample_1.xlsx', header=1, skipfooter=2, usecols='A:C', sheet_name='Sheet1')
df_xls

- 엑셀, csv는 동일한 데이터라면 csv가 훨씬 용량이 적다

In [ ]:
## DF 정보확인
df_csv.info()

In [ ]:
## 데이터 일부 보기(위에서 부터 n=5 기본)
df_csv.head(n=3)

In [ ]:
## 데이터 일부 보기(아래에서부터 n=5)
df_csv.tail(n=3)

In [ ]:
## 통계량 요약보기
df_csv.describe()

In [ ]:
# 모두 다른 데이터를 할당가능
df_csv['기준년월'] = ['2023-10', '2023-11', '2023-12', '2024-01', '2024-02', '2024-03']

In [ ]:
df_csv

In [ ]:
## 하나의 데이터로 
df_csv['기준년월'] = '2023-12'

In [ ]:
df_csv

In [ ]:
df_csv.loc[0] # 시리즈

In [ ]:
df_csv.loc[[0]] # 데이터프레임

In [ ]:
df_csv.loc[0:4]

In [ ]:
## 필터링
condition = (df_csv['국적코드'] == 'A31')
condition

In [ ]:
# '국적코드가 A31인 행만 보여줘' 필터링
df_csv[condition]

In [ ]:
## 상단의 condition 변수만드는 부분과 사용하는 부분을 합칠수 있음
df_csv[df_csv['성별'] == '여성'

In [ ]:
## 입국객수가 20만 이상인 보여줘
df_csv[df_csv['입국객수'] >= 200_000]

In [ ]:
## 여러조건을 같이 필터링
df_csv[(df_csv['성별'] == '남성') & (df_csv['입국객수'] >= 150_000)]

In [ ]:
## 한 열에 여러값으로 필터링
df_csv[ df_csv['국적코드'].isin(['A01', 'A31']) == True ]

In [ ]:

df_csv[ df_csv['국적코드'].isin(['A01', 'A31']) == False ]

In [ ]:
# DF에 새 컬럼 생성
df_csv['국적명'] = ['일본', '일본', '괌', '괌', '중국', '중국']
df_csv

In [ ]:
## DF에 인덱스를 변경
df_csv = df_csv.set_index(keys='국적명')

In [ ]:
df_csv

In [ ]:
df_csv = df_csv.reset_index()
df_csv

In [ ]:
df_csv.drop('index', axis=1, inplace=True)

In [ ]:
df_csv.info()

In [ ]:
df_csv.describe()

In [ ]:
## 그룹화는 groupby() 함수만으로 사용X
## 여러 함수를 같이 사용해야 DF으로 출력됨
df_csv.groupby('국적명').count()

In [ ]:
## 나머지 컬럼은 sum() 합산할 의미가 없음
## DF에서 Dtype이 int나 float같은 수치형만 통계내는 의미가 있음.
df_csv.groupby('국적명').sum('입국객수')

In [ ]:
## 그룹화 후 통계함수 사용시 동일하게 적용
## median(중앙값), min(최소값), max(최대값), std(표준편자), var(분산) 등등
df_csv.groupby('국적명').mean('입국객수')

In [ ]:
## 오름차순 정렬
df_csv.sort_values('입국객수')

In [ ]:
# 내림차순 정렬
df_csv.sort_values('입국객수', ascending=False)